{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <h3 class="text-center">Create a new artist</h3>
  </div>
  <div class="row">
    <div class="container">
      <form action="{% url 'music:update_artist' object.pk %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center md-3">
          <div class="col-md-5">
            <label for="name">Name</label>
            {{ form.name }}
          </div>
        </div>
        <div class="row justify-content-center md-3">
          <div class="col-md-4">
            <label for="songs">Songs</label>
            {{ form.songs }}
          </div>
          <div class="col-md-1 align-self-center">
            <a href="{% url 'music:create_song' %}?next={% url 'music:create_artist' %}"
              class="badge rounded-pill text-bg-success">
              <img src="{% static 'icons/bootstrap/plus-circle.svg' %}" alt="Add">
            </a>
          </div>
        </div>
        <div class="row justify-content-center mb-3">
          <div class="col-md-4">
            <label for="songs">Albums</label>
            {{ form.albums }}
          </div>
          <div class="col-md-1 align-self-center">
            <a href="{% url 'music:create_album' %}?next={% url 'music:create_artist' %}"
              class="badge rounded-pill text-bg-success">
              <img src="{% static 'icons/bootstrap/plus-circle.svg' %}" alt="Add">
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
